:root{
	/* Primary e Secondary*/
    --color-primary: #7ecc47;
    --secondary: #f4f2ee; 

    /* Color Primary*/
    --color-black:black;
    --color-white: white;

    /*Transparent */
    --black-transparent: rgba(0, 0, 0, 0.8);
    --white-transparent:rgba(255, 255, 255, .5);

    /*Backgroud */
    --color-box-shadow: rgba(0, 0, 0, 0.1);
    --color-text-shadow:rgba(0, 0, 0, 0.5);

    /* Text */
    --primary-color-text: #333333;
    --secondary-color-text: #dddddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--secondary);
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* Navbar */
.header{
    background: var(--black-transparent);
    box-shadow:  0 0 10px  var(--black-transparent);
    user-select: none;
}

.header .main-menu .nav-item .nav-link{
    padding-left: 0;
    padding-right: 0;
    margin-right: 14px;
    margin-left: 14px;
    font-weight: 500;
    color: var(--secondary-color-text);
    font-size: 17px;
}

.header .navbar-brand {
    display: flex;
    align-items: center; 
    gap: 8px;
}


.header .main-menu .navbar-brand span{
    font-size: 22px;
    font-weight: 600;
    color: var(--secondary-color-text);
    padding: 3px;
}

.header .main-menu .navbar-nav .active a{
    background-color: var(--color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
 
.header .main-menu .navbar-nav a:hover{
    color: var(--color-primary);  
    background-clip: text;
    transition: .4s;
}

/* About */
.about{
    padding: 20vmin 0vmin 20vmin 0; 
    user-select: none;
}  

.about .row .col-md-6 .pray img{ 
    opacity: 0.9;
    width: 80%;
    border-radius: 0.5em;
}  

.about .row .col-md-6:last-child{
    position: relative;
} 

.about .row .col-md-6 .panel{ 
    position: absolute;
    top: 5vmin;
    left: -13vmin; 
    background: var(--color-white);
    border-radius: 3px; 
    text-align: left; 
    padding: 8vmin 8vmin 6vmin 10vmin;
    box-shadow: 0px 25px 42px var(--color-box-shadow);
    z-index: 500;
}  

.about .row .col-md-6 .panel h1{
    font-weight: 700;
    padding: 0.1em 0;
    font-size: 2em;
} 

.about .row .col-md-6 .panel h3{
    font-weight: 600;
    padding: 0.1em 0;
    font-size: 1.2em;
} 

.about .row .col-md-6 .panel p{
    font-size: 1.0em;
    color: var(--primary-color-text); 
    letter-spacing: 0.5px; 
} 

.about .row .col-md-6 .panel .read-more{
    margin: 2rem 0 1rem 0;
} 

.about .row .col-md-6 .panel .read-more a{
    text-decoration: none;
    color: var(--color-black);
    border: solid 1px var(--color-black);
    font-weight: 500;
    border-radius: 0.2em;
    padding: 10px 15px;
    letter-spacing: 1px; 
} 

.about .row .col-md-6 .panel .read-more a:hover {
    color: var(--color-white);
    border: solid 1px var(--color-primary);
    background-color: var(--color-primary);
    transition: 0.4s; 
}

@media only screen and (max-width: 768px){
	.about .row .col-md-6 .panel{
	  position: initial;
	  width: initial;
	  height: initial;
	}
}  

@media only screen and (max-width: 768px){
    .testimonial .carousel-item{
        padding-left: 0.6rem;
    }
}

@media only screen and (max-width: 375px){
    .testimonial .card {
        width: 18em;
      }
}

/* Network */
.network .row{
    margin: 3rem 0.5rem; 
}  

.network .rede{
    text-align: center;  
    user-select: none;
} 

.network .rede i{
    font-size: 16px;
}  

.network .rede a{
    margin: 0.5rem 0;
    width: 100%;
    border: solid 1px var(--color-black);
    border-radius: 3px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0.4rem 0;
    box-shadow: 0px 2px 15px var(--color-box-shadow);     
}   
  
.network a:hover{
    color: var(--color-white);
    background: var(--color-primary);
    border: solid 1px var(--color-primary);
    box-shadow: none;
    transition: 0.4s; 
}  

/* Move Up */
.move-up{
    margin: 4rem 1rem;
}  

.move-up a{
    color: var(--color-black);
    font-size: 23px;
    padding: 3px 6px;
    border: 1px solid var(--color-black);
    border-radius: 3px; 
    text-decoration: none;
}

.move-up a:hover{
    color: var(--color-white);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
	transition: all ease 0.3s;
}

/* Footer */
footer{
    background: var(--black-transparent);
    user-select: none;
}  

footer .link a{
    margin: 0.5rem 0;
    border: solid 1px var(--color-white);
    border-radius: 3px;
    padding: 0.5rem 0.8rem;
    margin: 0 1rem;
}

footer .link i {
    color: var(--color-white);
    font-size: 20px;
}

footer .link a:hover{
    color: var(--color-white);
    background: var(--color-primary);
    border: solid 1px var(--color-primary);
    box-shadow: none;
    transition: 0.4s; 
}  

footer a{
    color: var(--color-primary);
}

footer p{
    font-size: 1.2rem; 
    color: var(--color-white);
} 
